<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div>
    <h1>Welcome .....</h1>
    <form align="center">
        <fieldset>
            <br>
            <a href={{pages.[0]}}>Nasa Images</a> &nbsp;&nbsp;
            <a href={{pages.[1]}}>Cards</a>
            <br><br>
        </fieldset>
    </form>
</div>
</body>
{{> footer}}
</html>